[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
djoser = "*"
mysqlclient = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
