[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
mysqlclient = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
markdown = "*"
django-filter = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
drf-nested-routers = "*"
pyjwt = "*"
django-cors-headers = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
